doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title dashboard
    link(href="/css/bootstrap.css" rel="stylesheet")
    script(type="text/javascript" src="/js/jquery-3.3.1.min.js")
    script(type="text/javascript" src="/js/canvasjs.min.js")
    script(type="text/javascript" src="/js/graph.js")
    // Custom styles for this template
    link(href="navbar-top-fixed.css" rel="stylesheet")
  body
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      a.nav-link.disabled(href="/ami/home") AMI
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link.disabled(href="/ami/home")
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link.disabled(href="/ami/hard-ware-setup") HardWareSetUp
          li.nav-item
            a.nav-link.disabled(href="/ami/about") About
          li.nav-item
            a.nav-link.active(href="/ami/dashboard") Dashboard
        form.form-inline.mt-2.mt-md-0.register-login
          a.nav-link.disabled(href="/users/logout") Logout
    main.navbar.navbar-expand-md(role="main")
    .jumbotron
      header
        h1 Arduino's Sensors Data plotting  
      p.lead
        | This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser's viewport.
      div
        
      #chart
        #temppi
      #chartContainer(style="height: 500px; width: 100%;")
      h1 the 2nd praph goes below
      hr
      #chartContainer1(style="height: 400px; width: 100%;")
      p#demo1
      p#max
      p#min
      p#demo2
      p#variance
      p#standard-deviation
      p#skewness
      p#kurtosis
      p#msv
      p#rmsv
      
    script(src="/js/bootstrap.min.js")
    script(src="/js/jquery.js")
